.nav{
    font-family: 'roboto', sans-serif;
    float: right;
}

.btn-resume{
    background-color: transparent;
    border-radius: 3px;
    padding: 5px;
    width: 90px; 
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 2px solid #000;
} 

.link-nav{ 
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.link-nav:hover{
    text-decoration: underline;
    font-style: italic;
} 

.div-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3, h1, p{
    font-family: 'roboto', sans-serif;
}
